[flake8]
# Set the maximum allowed line length
max-line-length = 128
# Exclude files and directories
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .eggs,
    .backup,
    migrations
# E203 whitespace before ':'
# E231 missing whitespace after ':' (conflicts with format specifiers in f-strings)
# W503 line break before binary operator
# E266 too many leading '#' for block comment
# E501 line too long
ignore =
    E203,
    E231,
    E302,
    E266,
    E501,
    W503,
# Limit the number of return statements in a function
max-complexity = 32
# Show full file path
# show-source = true
# Report style
statistics = true
